<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>636683384935-a7h6oh4slc9r2q8lel136ji9u0n6ogea.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.636683384935-a7h6oh4slc9r2q8lel136ji9u0n6ogea</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>636683384935-ui824ap6mjmj3l8q0s8ml91145t6m8vf.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCzGJoye3NpZTcQ61ABzyo_ou1J8vEBUyg</string>
	<key>GCM_SENDER_ID</key>
	<string>636683384935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.rwapros</string>
	<key>PROJECT_ID</key>
	<string>rwapros</string>
	<key>STORAGE_BUCKET</key>
	<string>rwapros.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:636683384935:ios:93d62c3d701c8676f23cc2</string>
</dict>
</plist>